{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "env": { "es6": true },
  "ignorePatterns": [
    "jest.config.ts",
    "dist/*",
    "tests/*"
  ],
  "rules": {
    "no-console": 0,
    "arrow-body-style": 0,
    "prefer-rest-params": 0,
    "no-use-before-define": 0,
    "strict": 0,
    "comma-dangle": "off",
    "@typescript-eslint/no-unused-vars": [ "error", { "argsIgnorePattern": "^_" }]
  }
}
